<div class="notificaciones-container">
  <div class="campana" (click)="toggleDesplegable()">
    <i class="fa fa-bell"></i>
    <span *ngIf="notificacionesSinLeer > 0" class="contador">{{
      notificacionesSinLeer
    }}</span>
  </div>
  <div class="desplegable" *ngIf="mostrarDesplegable">
    <h3 class="titulo">{{ "NOTIFICACIONES" | translate }}</h3>
    <button
      class="limpiar-notificaciones text-red-600"
      (click)="limpiarNotificaciones()"
    >
      {{ "LIMPIAR" | translate }}
    </button>
    <div class="filtros">
      <button
        class="filtro"
        [class.active]="filtroActual === 'todas'"
        (click)="filtrarNotificaciones('todas')"
      >
        {{ "TODAS" | translate }}
      </button>
      <div class="fila-inferior">
        <button
          class="filtro"
          [class.active]="filtroActual === 'pendientes'"
          (click)="filtrarNotificaciones('pendientes')"
        >
          {{ "PENDIENTES" | translate }}
        </button>
        <div class="separador"></div>
        <button
          class="filtro"
          [class.active]="filtroActual === 'leidas'"
          (click)="filtrarNotificaciones('leidas')"
        >
          {{ "LEIDAS" | translate }}
        </button>
      </div>
    </div>
    <ng-container
      *ngIf="notificacionesFiltradas.length > 0; else noNotificaciones"
    >
      <ul>
        <li
          *ngFor="let notificacion of notificacionesFiltradas"
          [class.no-leida]="!notificacion.is_read"
        >
          <button
            class="borrar-notificacion"
            (click)="eliminarNotificacion(notificacion, $event)"
          >
            x
          </button>
          <div
            class="notificacion-contenido"
            (click)="redirigirEntrada(notificacion)"
          >
            <div class="notificacion-mensaje">{{ notificacion.message }}</div>
            <div class="notificacion-fecha">
              {{ notificacion.timestamp | date: "dd/MM/yyyy HH:mm" }}
            </div>
          </div>
          <button
            *ngIf="!notificacion.is_read"
            class="marcar-leido"
            (click)="marcarComoLeida(notificacion, $event)"
          >
            {{ "MARCAR_COMO_LEIDO" | translate }}
          </button>
          <button
            *ngIf="notificacion.is_read"
            class="marcar-no-leido"
            (click)="marcarComoNoLeida(notificacion, $event)"
          >
            {{ "MARCAR_COMO_NO_LEIDO" | translate }}
          </button>
        </li>
      </ul>
    </ng-container>
    <ng-template #noNotificaciones>
      <div class="no-notificaciones">{{ "NO_NOTIFICACIONES" | translate }}</div>
    </ng-template>
  </div>
</div>
